<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="timetable">
	<select id="selectMovieName" parameterType="hashmap" resultType="TimeTableDTO">
		select * from timetable 
		<if test="type=='movie'">
			where movie_idx=#{movie_idx} and location_name=#{location_name} and room_location=#{room_location} and to_char(start_time,'MM-dd')=#{start_time} order by room_location,start_time
		</if>
	</select>
</mapper>